.price-range .container{
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .625rem;
}

[type="range"]{
    transform: scale(2);
    appearance: none;
    display: block;
    cursor: pointer;
    background-color: var(--color-gray5);
    border-radius: 10px;
    height: 5px;
    width: 50%;
    margin: 0 auto;
    
}

[type="range"]::-webkit-slider-thumb{
    appearance: none;
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: solid 3.5px var(--color-brand1);
    border-radius: 8px;
}

.range-value span{
    color: var(--color-brand2);
}